<h2>Upcoming Collections</h2>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Today"> </mat-tab>
  <mat-tab label="Tomorrow"> </mat-tab>
</mat-tab-group>
<div class="container">
  <table mat-table [dataSource]="filteredResult">
    <!-- id column -->
    <ng-container matColumnDef="colony">
      <th mat-header-cell *matHeaderCellDef>Colony</th>
      <td mat-cell *matCellDef="let colony">
        <a [routerLink]="['/colonies', colony.id]">{{ colony.id }}</a>
      </td>
    </ng-container>

    <!-- creation date column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let colony">{{ colony.created | date }}</td>
    </ng-container>

    <!-- bees column -->
    <ng-container matColumnDef="bees">
      <th mat-header-cell *matHeaderCellDef>No. Bees</th>
      <td mat-cell *matCellDef="let colony">{{ colony.bees | number }}</td>
    </ng-container>

    <!-- hives column -->
    <ng-container matColumnDef="hives">
      <th mat-header-cell *matHeaderCellDef>Hives</th>
      <td mat-cell *matCellDef="let colony">{{ colony.hives | number }}</td>
    </ng-container>

    <!-- collection date column -->
    <ng-container matColumnDef="collectionDate">
      <th mat-header-cell *matHeaderCellDef>Next Colection Date</th>
      <td mat-cell *matCellDef="let colony">
        {{
          (colony.collections[0] ? colony.collections[0].date : colony.created)
            | futureDate
            | date
        }}
      </td>
    </ng-container>

    <!-- hives column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Overproduction</th>
      <td
        mat-cell
        *matCellDef="let colony"
        [ngStyle]="{ color: colony.overproduction >= 150 ? 'red' : 'black' }"
      >
        {{ colony.overproduction }}
      </td>
    </ng-container>

    <!-- collection date column -->
    <ng-container matColumnDef="addCollection">
      <th mat-header-cell *matHeaderCellDef>Add Collection</th>
      <td mat-cell *matCellDef="let colony">
        <app-new-collection [colonyId]="colony.id"></app-new-collection>
      </td>
    </ng-container>

    <!-- overproduction column -->
    <ng-container matColumnDef="overproduction">
      <th mat-header-cell *matHeaderCellDef>Overproduction</th>
      <td
        mat-cell
        [ngStyle]="{ color: colony.overproduction >= 150 ? 'red' : 'black' }"
        *matCellDef="let colony"
      >
        {{ colony.overproduction | number }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- <mat-paginator [length]="100" [pageSize]="10"></mat-paginator> -->
</div>
