mat-card {
  text-align: center;
}

.container {
  // width: 30vw;
  // padding: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  margin-left: 20px;
  align-self: flex-start;
}