@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  min-height: 100vh;

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: #f4faff;
}
