<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile>
    <div style="text-align: center">
      <h5>Welcome to</h5>
      <h1>BeeKeepr!</h1>
      <a [routerLink]="['/dashboard']" mat-flat-button color="primary">Dashboard</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>


<div fxLayout="row wrap">
  <div fxFlex="30px">1</div>
  <div fxFlex="30px">2</div>
  <div fxFlex="30px">3</div>
  <div fxFlex="30px">4</div>
  <div fxFlex="30px">5</div>
  <div fxFlex="30px">6</div>
  <div fxFlex="30px">7</div>
  <div fxFlex="30px">8</div>
  <div fxFlex="30px">9</div>
</div>
